<h1>We'd love to hear from you...</h1>

<% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @contact do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :subject %>
  <%= f.text_field :subject %><br>
  <%= f.label :description %>
  <%= f.text_area :description %><br>
  <%= f.label :first_name, 'First Name' %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name, 'Last Name' %>
  <%= f.text_field :last_name %><br>

  <%= f.submit "Send Form" %>
<% end %>
