<h1>Edit post</h1>
<%= notice %>
<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @post do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :description %>
  <%= f.text_area :description %>
  </p>
  <p>
  <%= f.label :category_id %>
  <%= f.collection_select(:category_id,
                          Category.all,
                          :id,
                          :name,
                          {include_blank: true} )
  %>
  <p>

  <%= f.submit "Update" %>
<% end %>
