<h1>Random Acts of Kindness</h1>
<%= link_to 'My Posts', user_posts_path(current_user) %>
<table>
  <thead>
    <tr>
      <th>Title:</th>
      <th>Description:</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @posts.each do |post| %>
    <tr>
       <td><%= post.title %></td>
       <td><%= post.description %></td>
       <td><%= post.created_at %></td>
       <td><%= link_to 'Show', post %></td>
    </tr>
  <% end %>
</table>
