  <% if params[:user_id] %>
    <h1>My Random Acts of Kindness</h1>
    <%= link_to 'Recent Posts', @link_path %>
  <% else %>
    <h1>Recent Random Acts of Kindness</h1>
    <%= link_to 'My Posts', @link_path %>
  <% end %>

    <table>
      <thead>
        <tr>
          <th>Posted by:</th>
          <th>Title:</th>
          <th>Description:</th>
          <th>Location:</th>
          <th>Category:</th>
        </tr>
      </thead>

      <% @posts.each do |post| %>
        <tr>
          <td><%= User.find(post.user_id).email %></td>
          <td><%= post.title %></td>
          <td><%= post.description %></td>
          <td><%= post.location %></td>
          <td><%= post.category.name %></td>
          <td><%= link_to 'View', post %></td>
            <% if post.user_id == current_user.id %>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Delete', post, method: :delete %></td>
            <% end %>
        </tr>
      <% end %>
    </table>
