<div class='row'>
  <div class='small-12 columns background'>
    <% if params[:user_id] %>
    <h1>My Random Acts of Kindness</h1>
    <% else %>
    <h1>Recent Random Acts of Kindness</h1>
    <% end %>

    <table>
      <thead>
        <tr>
          <th>Date:</th>
          <th>Posted by:</th>
          <th>Title:</th>
          <th>Details:</th>
          <th>Location:</th>
          <th>Category:</th>
        </tr>
      </thead>

      <% @posts.each do |post| %>
      <tr>
        <% if post.date_completed == nil %>
        <td><%= post.created_at.strftime('%B, %d, %Y') %></td>
        <% else %>
        <td><%= post.date_completed.strftime('%B, %d, %Y') %></td>
        <% end %>
        <td><%= User.find(post.user_id).email.gsub(/@.+$/, '') %></td>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.location %></td>
        <td><%= post.category.name %></td>
        <td><%= link_to 'View', post %></td>
        <% if post.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
