<div class='row'>
  <div class='small-9 columns background'>
    <h2>Pledge your Random Act of Kindness!</h2>
    <p>Activities created here will become public when completed.</p>
    <%= notice %>
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_for @target do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'e.g. Plant a Tree, Buy Someone Coffee...' %>
    </p>
    <p>
      <%= f.label :description, 'Details' %>
      <%= f.text_area :description, placeholder: 'Brief description of what you plan to do.' %>
    </p>
    <p>
      <%= f.label :location, 'Where do you live?' %>
      <%= f.text_field :location %>
    </p>
    <p>
      <%= f.label :category_id %>
      <%= f.collection_select(:category_id,
        Category.all,
        :id,
        :name,
        {include_blank: true} )
        %>
        <p>

          <%= f.button "Share" %>
          <% end %>

        </div>
      </div>
