<div class='row'>
  <div class='small-6 columns background'>
    <h1>
      <%= @post.title %>
    </h1>

    <p>
      <strong>Details:</strong>
      <%= @post.description %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= Category.find(@post.category_id).name %>
    </p>
     <p>
      <strong>Location:</strong>
      <%= @post.location %>
    </p>
    <p>
      <% if @post.date_completed == nil %>
      <strong>Date Created:</strong>
      <%= @post.created_at.strftime('%B, %d, %Y') %>
    </p>
      <% else %>
    <p>
      <strong>Date Completed:</strong>
      <%= @post.date_completed.strftime('%B, %d, %Y') %>
    </p>
    <% end %>
    <p>
      <% if @post.user_id != current_user.id %>
      Feeling Inspired?
      <strong><%= link_to 'Pay it Forward!', new_post_post_path(@post) %></strong>
      <% end %>
    </p>
  </div>

  <% if @inspiration > 0 %>
    <div class='small-5 columns background show'>
      <h1>
        This post inspired <br><em><%= pluralize(@inspiration, 'act') %> of kindness!</em>
      </h1>

      <div>
        <table>
        <thead>
          <tr>
            <td style='text-align:center' colspan=3>Directly Inspired Posts:</td>
          </tr>
        </thead>
        <% @children.each do |child| %>
          <tr>
            <td><%= User.find(child.user_id).email.gsub(/@.+$/, '') %></td>
            <td><%= child.title %></td>
            <td><%= link_to 'View', child %></td>
          </tr>
        <% end %>
        </table>
      </div>
  <% else %>

    <% end %>

  </div>
</div>
