<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>
<p>
  <strong>Category:</strong>
  <%= Category.find(@post.category_id).name %>
</p>

<p>
  <strong>Date Created:</strong>
  <%= @post.created_at %>
</p>
<p>
  <strong>Date Completed:</strong>
  <%= @post.date_completed %>
</p>


<p>
  <% if @inspiration > 0 %>
    This post inspired <%= pluralize(@inspiration, 'act') %> of kindness! :):):)
  <% end %>
</p>

<p>
<% if @post.user_id != current_user.id %>
  <%= link_to 'Pay it Forward!', new_post_post_path(@post) %></li>
<% end %>
</p>
<p>
  <%= link_to 'Back To Recent Posts', posts_path %>
</p>

