<div class='row'>
  <div class='small-6 columns background'>
    <h1>
      <%= @post.title %>
    </h1>

    <p>
      <strong>Details:</strong>
      <%= @post.description %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= Category.find(@post.category_id).name %>
    </p>
     <p>
      <strong>Location:</strong>
      <%= @post.location %>
    </p>
    <p>
      <% if @post.date_completed == nil %>
      <strong>Date Created:</strong>
      <%= @post.created_at.strftime('%B, %d, %Y') %>
    </p>
      <% else %>
    <p>
      <strong>Date Completed:</strong>
      <%= @post.date_completed.strftime('%B, %d, %Y') %>
    </p>
    <% end %>
  </div>

  <% if @inspiration > 0 %>
  <div class='small-5 columns background'>
    <h2>
      This post inspired <br><span><%= pluralize(@inspiration, 'act') %> of kindness!<span>
    </h2>
    <% end %>

    <p>
      <% if @post.user_id != current_user.id %>
      Feeling Inspired?
      <%= link_to 'Pay it Forward!', new_post_post_path(@post) %>
      <% end %>
    </p>

  </div>
</div>
