<!DOCTYPE html>
<html>
<head>
  <title>Kindly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%- if user_signed_in? -%>
      <h2>Kindly</h2>
      <ul>
        <li>Signed in as: <%= current_user.email %> </li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to 'Share some kindness!', new_post_path %></li>
      <%- else %>
      <h2>Welcome to Kindly!</h2>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      </ul>
    <% end %>
  </nav>
<%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
