<!DOCTYPE html>
<html>
<head>
  <title>Kindly</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar" data-topbar>

  <%- if user_signed_in? -%>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Kindly</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="current_user">Signed in as: <%= current_user.email %> </li>
      <li class="has-dropdown">
        <a href="#">MENU</a>
        <ul class="dropdown">
          <li><%= link_to 'Share some kindness!', new_post_path %></li>
          <li><%= link_to 'See Recent Posts', posts_path %></li>
          <li><%= link_to 'My Posts', user_posts_path(current_user) %></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li> </li>
      <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
    </ul>
  </section>
  <%- else %>
    <ul class="title-area">
    <li class="name">
      <h1><a href="/">Welcome to Kindly!</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="/">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to 'Contact Us!', new_contact_path %></li>
      <li class="has-dropdown">
        <!-- <a href="#">Right Button with Dropdown</a> -->
        <ul class="dropdown">
          <!-- <li><a href="#">First link in dropdown</a></li> -->
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to 'Sign In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li></li>

    </ul>
  </section>
  <% end %>
</nav>
<div>
  <% if flash[:error] %>
    <%= content_tag :div, :id => "flash_name", :class => "alert-box error" do %>
      <%= flash[:error] %>
    <% end %>
  <% end %>

  <% if flash[:notice] %>
    <%= content_tag :div, :id => "flash_name", :class => "alert-box success" do %>
      <%= flash[:notice] %>
    <% end %>
  <% end %>
</div>
<p>
</p>

<%= yield %>
<%= javascript_include_tag "application" %>
<%= yield :extra_footer %>

</body>
</html>
